doctype html
html(lang='zh')
    head
        meta(charset='utf-8')
        title blabla
        link(rel='stylesheet', href='./public/css/icons.css')
        meta(name='keywords', content='姜存根, 姜存根官网, 姜存根简历, 姜存根博客, 博客')
        meta(name='description', content='Stay foolish Stay hungry, Watch and Learn')
    body
        #root
        script(src='dist/vendors.js')
        script(src='dist/app.js')
