:local .timeline {
    position: relative;
    margin-right: 8px;
    border-right: 2px dashed grey;
    padding-right: 16px;
    line-height: 1.2;
}

:local .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    right: -6px;
    z-index: 10;
    width: 10px;
    height: 20px;
    font-size: 24px;
    background-color: white;
}

:local .timeline:after {
    content: '';
    position: absolute;
    top: 4px;
    right: -6px;
    z-index: 20;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 24px;
    background-color: #11B5AD;
}

:local .company {
    display: inline-block;
    margin-right: 16px;
}

:local .project {
    display: inline-block;
    color: #888;
    font-size: 14px;
}

:local .content {
    margin-top: 8px;
    color: #333;
    font-size: 13px;
    line-height: 24px;
}
