@import mixins
@import font-faces

body
    margin: 0

// header
.header
    &-avatar
        width: 100px
        height: 100px
        overflow: hidden
        +borderRadius(100%)
        img
            width: 100px
            height: auto
