/*
Error: Invalid property: "-webkit-border-radius:" (no value).
        on line 10 of main.sass

5: .header
6:     &-avatar
7:         width: 100px
8:         height: 100px
9:         overflow: hidden
10:         -webkit-border-radius:
11:         -moz-border-radius:
12:         border-radius:
13:         img
14:             width: 100px
15:             height: auto

Backtrace:
main.sass:10
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:729:in `parse_property'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:691:in `parse_property_or_rule'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:657:in `parse_line'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:535:in `build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:554:in `block in append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:553:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:553:in `append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:544:in `block in build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:537:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:537:in `build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:554:in `block in append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:553:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:553:in `append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:544:in `block in build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:537:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:537:in `build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:554:in `block in append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:553:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:553:in `append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:406:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.19/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid property: \"-webkit-border-radius:\" (no value).\A         on line 10 of main.sass\A \A 5: .header\A 6:     &-avatar\A 7:         width: 100px\A 8:         height: 100px\A 9:         overflow: hidden\A 10:         -webkit-border-radius:\A 11:         -moz-border-radius:\A 12:         border-radius:\A 13:         img\A 14:             width: 100px\A 15:             height: auto"; }
