:global .skill-list {
    margin: 0 0 16px;
    padding: 0;
    clear: both;
    overflow: hidden;
}

:global .skill-list dt {
    display: block;
    font-size: 18px;
    color: #666;
    margin-bottom: 8px;
}

:global .skill-list .desc {
    display: inline-block;
    min-width: 80px;
}

:global .skill-list .desc span:first-child {
    color: #333;
}

:global .skill-list .desc span:last-child {
    padding-top: 8px;
    font-size: 13px;
    color: #999;
}

:local .skill-item {
    position: relative;
    display: inline-block;
    float: left;
    margin: 8px 16px 8px 0;
}

:local .skill-item svg {
    position: absolute;
    left: 0;
    top: 0;
}

:global .data-icon {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 0;
    margin-right: 8px;
    line-height: 60px;
    text-align: center;
}

:global .data-icon i {
    font-size: 24px;
    line-height: 60px;
    color: #888;
}
