.ctx-left {
    width: 106px;
    float: left;
    text-align: right;
    font-size: 14px;
    line-height: 22px;
}
.ctx-right {
    width: 522px;
    float: right;
}


@media print {
    .page-next {
        page-break-after: always;
    }
}
